<html>
    <head><title>mobile responsive</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">      
       <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
       <link href="../public/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
       <link href="../public/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
       <link href="../public/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
       <link href="../public/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
       <link href="../public/fonts/Abel-Regular.ttf" rel="stylesheet">
    </head>
    <style>
    .jumbotron
    {
        background-color:blueviolet;
    }
    </style>
    <body>
        <h1>responsive websight </h1>
       
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron"> hello bootstrap 1</div>
            </div>    
                <div class="col-md-6 col-md-xs-12">
                        <div class="jumbotron">hello bootstrap 2</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="slider-img"><img src="../Company/images/slider/img3.png" class="img-responsive width="400" height="200""></div>
            </div>
            <div class="col-md-6">
                <div class="jumbotron">hii this is program of mob responsive. edasytdcg hsadgahsx sdvxshdb 
                    rtdfgxhjshx sgxgshaxsjxsax xhajxasxsaxask
                    gfvsxbsajkxnaskxassl
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                        <div class="jumbotron">hii this is program of mob responsive. edasytdcg hsadgahsx sdvxshdb 
                            rtdfgxhjshx sgxgshaxsjxsax xhajxasxsaxask
                            gfvsxbsajkxnaskxassl
                        </div>
                </div>
         
        <div class="col-md-6 col  ">        
            <img src="../Company/download.jpg"class="img-responsive"width="400" height="200"> 
        </div>
        </div>

        <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 ">
                <img src="../Company/images/6.jpg " width="200" height="100">
             </div>
        
            <div class="col-md-2 col-md-offset-4 ">
                <img src="../Company/images/6.jpg"width="200" height="100"> 
            </div>
       
        <div class="col-md-6 col-md-offset-3 jumbotron">
            <p style="font-family: 'Bree Serif', serif;
            ">qwert5yui opikhgtfr edgtyujjhge dsadert gyuihjewert  yuiohjgeed rgtyui ertyujhgfe drfgtyujhgfds wertyujhgfdsd dsffffggggghdrt</p>
        </div>
    </div>
</div>
   <p style="font-family:'Abel-Regular'">hii here using font from google</p>     
   <li><span class="glyphicons-halflings-regular">
       hii here using font from google</span></li>   


    </body>
    </html>
              